{% extends 'base.html' %} {% block title %} Update {% endblock title %} {% block
body %}
<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">About Our Todo App</h1>
    <p class="lead text-center">
      Learn more about our amazing Todo App and the team behind it.
    </p>
  </div>

  <!-- Team Members Section -->
  <div class="row text-center">
    <div class="col-lg-4 team-member">
      <img
        src="../static/tariquee.jpeg"
        alt="Team Member"
        class="rounded-circle mb-3"
      />
      <h3>Tarique Salat</h3>
      <p>QA Manager</p>
    </div>
    <div class="col-lg-4 team-member">
      <img
        src="../static/mayur.jpeg"
        alt="Team Member"
        class="rounded-circle mb-3"
      />
      <h3>Mayur Rathod</h3>
      <p>QA Director</p>
    </div>
    <div class="col-lg-4 team-member">
      <img
        src="../static/yogita.jpeg"
        alt="Team Member"
        class="rounded-circle mb-3"
      />
      <h3>Yogita Mahajan</h3>
      <p>QA Team Lead</p>
    </div>
    <div class="col-lg-12 team-member">
      <img
        src="../static/ashish.jpeg"
        alt="Team Member"
        class="rounded-circle mb-3"
      />
      <h3>Ashish Yadav</h3>
      <p>Jr. Test Engineer</p>
    </div>
  </div>
</div>

{% endblock body %}
