{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

     {% block body %} 
     
   <div class="container mt-5">
    <div class="card shadow rounded bg-light">
        <div class="card-body">
            <h2 class="card-title text-center">Add Todo </h2>
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Todo Title</label>
                    <input type="text" class="form-control" id="title" name="title" required />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <input type="text" name="desc" class="form-control" id="desc" required />
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary  ">Submit</button></div>
                
            </form>
        </div>
    </div>
  </div>
       
      </form>
    </div>
   <div class="container mt-5">
    {% if allTodo|length == 0 %}
        <div class="alert alert-success" role="alert">
            <h4>A Problem Well Stated is a Problem Half-Solved</h4>
        </div>
        <div class="alert alert-danger" role="alert">
            <h5>Please add Your Todo</h5>
        </div>
    {% else %}
        <h1 class="mb-4">My Todos</h1>

        <div class="row">
            {% for todo in allTodo %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow rounded ">
                        <div class="card-body">
                            <h5 class="card-title">{{ todo.title }}</h5>
                            <p class="card-text">{{ todo.desc }}</p>
                            <p class="card-text"><small class="text-muted">Date Created: {{ todo.data_created }}</small></p>
                            <div class="btn-group d-flex " role="group">
                                <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-danger btn-sm mx-4 rounded-5">Delete</a>
                                <a href="/update/{{ todo.sno }}" type="button" class="btn btn-primary btn-sm">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
 
{% endblock body %}